<head>
    <title>Feed</title>
</head>

{% extends 'split/home.html' %}
{% load static %}

{% block content %}



{% if user.is_authenticated %}    
       
        <br></br>
        <div class="row">
            <div class= "col">
                <div class="container">
                    <div class="card w75" style="width: 55rem;">
                        <div class="card-header">
                            <h4>Pockets</h4>
                        </div>
                        <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>You dont have a registered pockets .</p>
                                    <footer class="blockquote-footer">Owners: <cite title="Source Title">{{user.username.capitalize}}</cite></footer>
                                </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            


            <div class="col"> 
                <div class="container">                    
                    <div class="col-md-12 col-xl-4">                
                        <div class="card" style="border-radius: 15px; width: 20rem;">
                            <div class="card-body text-center">
                                <div class="mt-3 mb-4">
                                    <img src="{{user.profile.image.url}}" class="rounded-circle img-fluid" style="width: 100px;" />
                                </div>
                                <h4 class="mb-2">{{user.username.capitalize}}</h4>
                                <p class="text-muted mb-4">@Programmer <span class="mx-2">|</span> <a href="#!">{{user.email}}</a></p>
                                
                                
                                <div class="d-flex justify-content-between text-center mt-5 mb-2">
                                    <div>
                                        <p class="mb-2 h5">{{user.pocket.count}}</p>
                                        <p class="text-muted mb-0">Pockets</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="mb-2 h5">8512</p>
                                        <p class="text-muted mb-0">Friends</p>
                                    </div>
                                    <div>
                                        <p class="mb-2 h5">{{user.charge.count}}</p>
                                        <p class="text-muted mb-0">Charges</p>
                                    </div>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>                
            </div>
        </div>        
{% else %}
        
{% endif %}

{% endblock %}