<head>
    <title>Update charge</title>
</head>
{% extends 'split/home.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

    <br>
    <div class="row justify-content-md-center">
        <div class="card" style="width: 32rem; border-radius: 15px;">
            <div class="card-body">
                <br>
                <h1 class="card-title" style="text-align:center ; color:#3cac94" ><img src={% static 'assets/charges.png' %} width="60" height="60" class="d-inline-block align-center" alt=""> Update charge!</h1>
                <br><h7><form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    
                    <br>
                    <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Update!</button>
                    </div>
                </form> 
                </h7>  
            </div>
        </div>
    </div>

{% endblock  %}